.chartsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.chart {
    display: block;
    width: 480px;
    height: 300px;
    border-style: dotted;
    margin: 10px;
}

.dygraph-title {
    z-index: 10;
    text-align: center;
    /* font-size: based on titleHeight option */
}

.dygraph-legend {
    position: absolute;
    font-size: 12px;
    z-index: 10;
    width: 200px;
    /* labelsDivWidth */
    /*
    dygraphs determines these based on the presence of chart labels.
    It might make more sense to create a wrapper div around the chart proper.
    top: 0px;
    right: 2px;
    */
    background: #ffffff;
    line-height: normal;
    text-align: right;
    overflow: hidden;
}

.dygraph-axis-label {
    /* position: absolute; */
    /* font-size: 14px; */
    z-index: 10;
    line-height: normal;
    overflow: hidden;
    color: black;  /* replaces old axisLabelColor option */
  }

.dygraph-xlabel {
    text-align: center;
    /* font-size: based on xLabelHeight option */
}

.dygraph-ylabel {
    position: relative;
    left: 10px;
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}